@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,800;1,700&family=Rowdies:wght@400;700&display=swap');

:root {
    --fontFamily: 'Raleway', sans-serif;
    --orangeColor: #fe6f02;
    --lightOrangeColor: #F4B716;
    --darkColor: #0C111C;
    --lightDarkColor: #1d2839;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#665DC3dd, #665DC3dd), url("../../images/background.jpg") no-repeat center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: var(--fontFamily);
    color: #FFF;
}

/* -----------------------
    Custom Area Start
------------------------ */
.full-screen-loader{
    background: var(--darkColor);
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999;
}
.full-screen-loader .loader{
    width: 100px;
    height: 100px;
}
.lg-font {
    font-size: 20px;
}

.msg {
    padding: 20px;
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.center-content {
    width: 100%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.pagination {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

li.page-item.page-link {
    padding: 7px;
    font-size: 14px;
    background: transparent;
    color: #fff;
    border-color: #fff5;
}

li.page-item.page-link.active {
    background: #fe6f02;
}

li.page-item.page-link .loader,
.action-btn .loader {
    width: 20px;
    height: 20px;
}

li.page-item.page-link .loader .text {
    display: none;
}

.disabled {
    opacity: 0.8;
}

.full-img {
    width: 100%;
    max-height: 100%;
}

.ms-list .dropdown-toogle .input-group-text {
    cursor: pointer !important;
    z-index: 6;
    height: calc(100% - 1px);
    background: var(--darkColor);
}

.ms-list .dropdown-menu {
    width: 100%;
    background: var(--lightDarkColor);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.ms-list .dropdown-menu .dropdown-item {
    display: block;
    color: #FFF;
    font-family: var(--fontFamily);
    cursor: pointer;
}

.ms-list .dropdown-menu .dropdown-item:hover,
.ms-list .dropdown-menu .dropdown-item:focus,
.ms-list .dropdown-menu .dropdown-item.selected,
.ms-list .dropdown-menu .dropdown-item.active {
    background: rgba(0, 0, 0, 0.27);
}

.bg_pink {
    background: #E91E63 !important;
}

.bg_info {
    background: #00BCD4 !important;
}

.bg_green {
    background: #8BC34A !important;
}

.bg_warning {
    background: #FF9800 !important;
}

.bg_success {
    background: #33dc6f !important
}

.light_orange {
    color: var(--lightOrangeColor) !important;
}

.text_success {
    color: #33dc6f !important
}

.table td,
.table th {
    border: none !important;
    border-bottom: 1px solid #fff2 !important;
    font-family: var(--ffp) !important;
}

.tooltip .tooltip-inner {
    background: var(--orangeColor) !important;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: var(--orangeColor) !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: var(--orangeColor) !important;
}

.checkbox {
    display: flex;
    cursor: pointer;
    margin: 0 5px;
    font-weight: normal;
}

.checkbox .box {
    margin-right: 7px;
    margin-top: 2px;
    width: 15px;
    height: 15px;
    display: flex;
    border: 2px solid var(--orangeColor);
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.checkbox .box i {
    font-size: 13px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;

}

.checkbox .check {
    display: none;
}

.checkbox .check:checked~.box {
    background: var(--orangeColor);
}

.checkbox .check:checked~.box i {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.inline-b {
    width: auto !important;
    display: inline-block !important;
}

.form-control.short {
    padding: 10px 0 10px 10px !important;
    width: 45px;
}

div.form-control {
    height: 37px;
    white-space: nowrap;
    overflow: auto;
}

div.form-control::-webkit-scrollbar {
    width: 0px !important;
    height: 0 !important;
}

.flex {
    display: flex !important;
    -webkit-align-items: center;
    align-items: center;
}

body.content-center {
    width: 100%;
    min-height: 100vh;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.swal2-container.in {
    background: rgba(0, 0, 0, 0.2) !important;
}

.swal2-modal {
    margin-top: 20px;
    width: 400px;
    display: none;
    overflow: hidden;
    background: var(--darkColor) !important;
    font-family: var(--fontFamily) !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 2px 2px 25px 2px #0003 !important;
    box-shadow: 2px 2px 25px 2px #0003 !important;
}

.swal2-styled.swal2-confirm,
.swal2-styled {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px, rgba(0, 0, 0, 0.12) 0px 2px 10px;
    font-size: 14px !important;
    border-radius: 2px !important;
    color: #fff !important;
    padding: 7px 12px !important;
    font-weight: bold !important;
    font-family: var(--fontFamily) !important;
    cursor: pointer !important;
    background: var(--lightOrangeColor) !important;
    text-transform: uppercase;
}

.swal2-styled.swal2-confirm:focus,
.swal2-styled.swal2-cancel:focus,
.swal2-styled:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px, rgba(0, 0, 0, 0.12) 0px 2px 10px;
}

.swal2-styled.swal2-cancel {
    background: #171f30 !important;
}

.swal2-title {
    text-transform: capitalize !important;
}

.swal2-content {
    color: #DDD !important;
    font-family: var(--ffp);
}

.swal2-title {
    color: #FFF !important;
    font-family: var(--ffp);
}

.content-center {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

p {
    margin-bottom: 0;
}

button:focus {
    outline: none;
}

.link {
    color: #007BFF;
    cursor: pointer;
    font-family: var(--fontFamily);
}

.cp {
    cursor: pointer;
}

.bg_light_ornage {
    background: var(--lightOrangeColor) !important;
}

.bg_orange {
    background: var(--orangeColor) !important;
}

.card {
    background: var(--darkColor);
    border: none;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 20px #0001;
    box-shadow: 0 2px 20px #0001;
}

.card-header {
    background: var(--lightOrangeColor);
    color: #FFF;
    font-weight: 500;
}

.card-header a {
    color: #FFF;
    font-weight: 500;
}

.pull-right {
    width: 100%;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.pull-away {
    width: 100%;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.label {
    font-size: 15px;
    color: #DDD;
    display: inline-block;
    margin-bottom: 5px;
}

.form-control {
    color: #ccc;
    border: none;
    border-bottom: 1px solid #ccc5;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.form-control:focus {
    color: #ccc;
    border-color: var(--orangeColor);
    background: transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

select.form-control option {
    color: #000;
}

.input-group .form-control {
    padding-right: 40px;
}

.input-group-text {
    background: transparent;
    border: none;
    border-radius: 0;
    color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.input-group-text.file-upload-label {
    cursor: pointer;
    z-index: 12;
    background: var(--lightOrangeColor);
    color: #333;
}

.file-upload-label~.form-control[readonly] {
    background: transparent;
}

.submit-btn {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px, rgba(0, 0, 0, 0.12) 0px 2px 10px;
    font-size: 13px;
    color: #fff;
    padding: 7px 12px;
    font-weight: 500;
    margin: 0;
    font-family: var(--fontFamily);
    cursor: pointer;
    background: var(--lightOrangeColor);
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

.submit-btn:hover {
    opacity: 0.8;
}

.s-btn {
    font-size: 16px;
    background: transparent;
    border: none;
    padding: 20px;
    color: #ccc;
    position: relative;
    cursor: pointer;
}

.s-btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.s-btn:hover,
.s-btn.active {
    color: #FFF;
}

.s-btn .text i {
    margin-right: 10px;
    display: inline-block;
}

.s-btn .text.overlay {
    cursor: pointer;
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.s-btn.active .text.overlay,
.s-btn:hover .text.overlay {
    font-weight: 700;
}

.s-btn svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    fill: none;
    z-index: 3;
}

.s-btn svg .path {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-width: 2px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.s-btn svg:nth-child(2) {
    top: -4px;
    left: -6px;
    z-index: 2;
}

.s-btn svg:nth-child(2) .path,
.darkStroke {
    stroke: #383a3e !important;
}

.svgObject {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-width: 2px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.s-btn.active svg path.path,
.s-btn:hover svg path.path {
    fill: var(--orangeColor);
}

.s-btn.active svg:nth-child(2) path.path,
.s-btn:hover svg:nth-child(2) path.path {
    fill: none;
}

.heading {
    color: #FFF;
    font-family: var(--fontFamily);
    font-weight: bold;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

h1.heading {
    font-size: 40px;
}

h2.heading {
    font-size: 30px;
}

h3.heading {
    font-size: 25px;
}

h4.heading {
    font-size: 20px;
    font-weight: 500;
}

h5.heading {
    font-size: 18px;
    font-weight: 500;
}

.bg_dark {
    background: #090F19;
}

.disabled {
    pointer-events: none !important;
}

.loader-container {
    width: 100%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.loader {
    width: 70px;
    height: 70px;
    display: inline-block;
    background: transparent;
    position: relative;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.loader .text {
    color: #DDD;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.loader .load {
    position: absolute;
    display: block;
    background: transparent;
    border: 2px solid #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loader .load1 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-color: #2AA198 #2AA198 #26292e #26292e;
    -webkit-animation: rotateClockWise 2s linear infinite;
    -moz-animation: rotateClockWise 2s linear infinite;
    -o-animation: rotateClockWise 2s linear infinite;
    animation: rotateClockWise 2s linear infinite;
}

.loader .load2 {
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-color: #849800 #26292e #26292e #849800;
    -webkit-animation: rotateAntiClockWise 2s linear infinite;
    -moz-animation: rotateAntiClockWise 2s linear infinite;
    -o-animation: rotateAntiClockWise 2s linear infinite;
    animation: rotateAntiClockWise 2s linear infinite;
}

@keyframes rotateClockWise {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateAntiClockWise {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

button .loader,
span>.loader {
    width: 30px;
    height: 30px;

}
.sidebar .nav-item .panel::-webkit-scrollbar
{
    width: 0px !important;
    height: 0px !important;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--darkColor);
}

*::-webkit-scrollbar-thumb {
    background: var(--orangeColor);
}

*::-webkit-scrollbar-thumb:hover {
    background: #c96316;
}

/* -----------------------
    Custom Area End
------------------------ */
/* -----------------------
    SideBar Area Start
------------------------ */
.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(7, 11, 19, 1);
    background: -moz-linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(7, 11, 19, 1)), color-stop(66%, rgba(17, 25, 39, 1)), color-stop(79%, rgba(17, 25, 39, 1)), color-stop(100%, rgba(17, 25, 39, 1)));
    background: -webkit-linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    background: linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#070b13', endColorstr='#111927', GradientType=1);
    -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
        -ms-transition: 0.5s;
         -o-transition: 0.5s;
            transition: 0.5s;
}
.sidebar.active{
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
}
.sidebar .wrapper {
    position: relative;
    height: 100%;
    overflow: auto;
}

.sidebar .menu_toggler {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 50px;
    height: 50px;
    background: #111927;
    display: inline-block;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
}

.sidebar .menu_toggler span {
    width: 100%;
    height: 2px;
    background: #FFF;
    display: block;
    margin: 4px 0;
}

.sidebar .nav {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar .nav .nav-item {
    padding: 0 20px;
    list-style: none;
    margin: 10px 0;
    list-style: none;
}

.sidebar .nav .nav-item .tab {
    display: flex;
}

.sidebar .nav .nav-item .nav-btn {
    font-size: 16px;
    background: transparent;
    border: none;
    padding: 20px;
    color: #ccc;
    position: relative;
    cursor: pointer;
}

.sidebar .nav .nav-item .nav-btn:hover,
.sidebar .nav .nav-item .tab.active .nav-btn {
    color: #FFF;
}

.sidebar .nav .nav-item .nav-btn .text.overlay {
    cursor: pointer;
    z-index: 12;
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sidebar .nav .nav-item .tab.active .nav-btn .text.overlay {
    font-weight: 700;
}

.sidebar .nav .nav-item .nav-btn svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    fill: none;
    z-index: 3;
}

.sidebar .nav .nav-item .nav-btn svg .path {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-width: 2px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.sidebar .nav .nav-item .nav-btn svg:nth-child(2) {
    top: -4px;
    left: -6px;
    z-index: 2;
}

.sidebar .nav .nav-item .nav-btn svg:nth-child(2) .path,
.darkStroke {
    stroke: #383a3e !important;
}

.svgObject {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-width: 2px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.sidebar .nav .nav-item .tab .arrowSvg {
    width: 70px !important;
}

.sidebar .nav .nav-item svg .arrow {
    stroke: #e96b0c;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}

.sidebar .nav .nav-item svg {
    cursor: pointer;
}

.sidebar .nav .nav-item .tab.active .nav-btn svg path.path,
.sidebar .nav .nav-item .tab.active .arrowSvg polygon,
.sidebar .nav .nav-item .tab:hover .arrowSvg polygon {
    fill: var(--orangeColor);
}

.sidebar .nav .nav-item .tab.active .nav-btn svg:nth-child(2) path.path,
.sidebar .nav .nav-item .tab.active .arrowSvg polygon:nth-child(2),
.sidebar .nav .nav-item .tab:hover .arrowSvg polygon:nth-child(2) {
    fill: none;
}

.sidebar .nav .nav-item .tab.active .arrowSvg .arrow,
.sidebar .nav .nav-item .tab:hover .arrowSvg .arrow {
    stroke: #fff;
}

.sidebar .nav .panel {
    display: none;
    padding: 10px;
}

.sidebar .nav .panel.active {
    display: block;
}

.sidebar .nav .panel.row.active {
    display: flex;
}

.single-media {
    position: relative;
    border: 1px solid #ffba00;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.single-media::after {
    content: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    top: 0%;
    left: 0%;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    color: #FFF;
}
.single-media img{
    width: 100%;
    height: auto;
    max-width: 100%;
}

@keyframes translateAway {
    0% {
        opacity: 0;
        top: 100%;
        left: 100%;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }

    40%,
    60% {
        opacity: 1;
        top: 0;
        left: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    100% {
        top: -100%;
        left: -100%;
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
}

/* .single-media:hover::after {

    -webkit-animation: 0.5s translateAway linear forwards;
    -moz-animation: 0.5s translateAway linear forwards;
    -o-animation: 0.5s translateAway linear forwards;
    animation: 0.5s translateAway linear forwards;
} */

.single-media .action-btn {
    border: none;
    background: #1DA5B5;
    color: #FFF;
    position: absolute !important;
    bottom: -40px;
    right: -40px;
    height: 30px;
    width: 30px;
    display: flex;
    cursor: pointer;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.single-media:hover .action-btn {
    bottom: 0;
    right: 0;
}

.single-media .action-btn.p-left {
    right: auto;
    left: 0;
}

.sidebar .nav .panel .msg {
    font-size: 14px;
    font-family: var(--fontFamily);
    color: #ddd;
}
.sidebar .nav .panel .paginationData{
    -webkit-justify-content: center;
            justify-content: center;
}

/* -----------------------
    SideBar Area End
------------------------ */
/* -----------------------
    Editor Area Start
------------------------ */
.all-content {
    width: 100%;
    height: 100vh;
    padding-left: 300px;
    -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
        -ms-transition: 0.5s;
         -o-transition: 0.5s;
            transition: 0.5s;
}
.all-content.active{
    padding: 0;
}
.all-content .editing-wrapper,
.all-content .wrapper {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.all-content .editing-wrapper .editing-target {
    width: 100%;
    height: 100%;
    position: relative;
}

.all-content .editing-wrapper .editing-target .area-border {
    width: 50px;
    height: 50px;
    position: absolute;
    background: transparent;
}

.all-content .editing-wrapper .editing-target .area-border span {
    background: #ffba00;
    box-shadow: 0 0 20px #ffba0366;
}

.all-content .editing-wrapper .editing-target .area-border span:nth-child(1) {
    width: 100%;
    height: 10px;
    display: block;
}

.all-content .editing-wrapper .editing-target .area-border span:nth-child(2) {
    width: 10px;
    height: calc(100% - 10px);
    display: block;
}

.all-content .editing-wrapper .editing-target .border1 {
    top: -30px;
    left: -30px;
}

.all-content .editing-wrapper .editing-target .border2 {
    top: -30px;
    right: -30px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.all-content .editing-wrapper .editing-target .border3 {
    bottom: -30px;
    right: -30px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.all-content .editing-wrapper .editing-target .border4 {
    bottom: -30px;
    left: -30px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.all-content .editing-wrapper .editing-area .editor-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.all-content .editing-wrapper .editing-area .editor-container {
    width: 100%;
    height: 100%;
    zoom: 1;
    position: relative;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

.all-content .editing-wrapper .editing-area .editor-container .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/5.png") repeat;
    z-index: 1;
}

.all-content .editing-wrapper .editing-area .editor-container .canvas-container {
    z-index: 2;
}

.all-content .editing-wrapper .editing-area {
    width: 100%;
    height: 100%;
    position: relative;
    background: #333;
    overflow: auto;
}

.all-content .editing-wrapper .editing-area .options {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 20;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

}

.all-content .editing-wrapper .editing-area .options button {
    font-weight: bold;
    border-right: 1px solid #fff2;
}

.all-content .editing-wrapper .editing-area .options button.active {
    border: 1px solid #fe6f02aa;
}

.all-content .editing-wrapper .editing-area .options .dropdown .dropdown-toggle::after {
    content: none;
}

.all-content .editing-wrapper .editing-area .options .dropdown .dropdown-menu {
    background: #0c121c;
}

.all-content .editing-wrapper .editing-area .options .dropdown .dropdown-item {
    color: #FFF;
}

.all-content .editing-wrapper .editing-area .options .dropdown .dropdown-item:hover,
.all-content .editing-wrapper .editing-area .options .dropdown .dropdown-item:focus {
    background: #1d2839;
    color: #fff;
}

.all-content .editing-wrapper .editing-area .options .form-control {
    width: 60px;
    display: inline-block;
    padding: 0 !important;
    border-color: #090F19;
    color: #090F19;
    font-weight: bold;

}

.all-content .editing-wrapper .editing-area .options .form-control.short {
    background: var(--darkColor);
}

/* -----------------------
    Editor Area End
------------------------ */
/* -------------------------------------
        Sidebar Edining Panel Start
--------------------------------------- */
.sidebar .editingPanel {
    position: relative;
    z-index: 20;
    display: none;
    background: rgba(7, 11, 19, 1);
    background: -moz-linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(7, 11, 19, 1)), color-stop(66%, rgba(17, 25, 39, 1)), color-stop(79%, rgba(17, 25, 39, 1)), color-stop(100%, rgba(17, 25, 39, 1)));
    background: -webkit-linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    background: linear-gradient(45deg, rgba(7, 11, 19, 1) 0%, rgba(17, 25, 39, 1) 66%, rgba(17, 25, 39, 1) 79%, rgba(17, 25, 39, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#070b13', endColorstr='#111927', GradientType=1);
}

.sidebar .editingPanel.active {
    display: block;
}

.sidebar .editingPanel .editing-box {
    padding: 20px 20px 0;
}

.sidebar .editingPanel .form-group {
    margin-bottom: 30px;
}

.sidebar .editingPanel .form-group.flex {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.sidebar .editingPanel .form-group .label {}

.sidebar .editingPanel .form-group .col {
    padding: 0;
}

.sidebar .editingPanel .submit-btn {
    font-size: 16px;
}

.sidebar .editingPanel .form-group .color-picker {
    padding-left: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sp-original-input-container {
    display: flex;
    width: 100%;
    position: relative;
}

.sp-colorize-container {
    height: 30px;
    width: 35px !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.sp-colorize {
    width: 100%;
    height: 100%;

}

.sp-button-container {
    display: none;
}

.rangeSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #272d35;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--orangeColor);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}

.rangeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--orangeColor);
    cursor: pointer;
}
.clearSideBar{
    display: none;
}
.sidebar .nav .nav-item .tab.show-editing-panel{
    display: none;
}
/* -------------------------------------
        Sidebar Edining Panel End
--------------------------------------- */
/* -------------------------------------
        Responsive Area Start
--------------------------------------- */
@media(max-width: 992px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        z-index: 99;
        -webkit-transform: translateX(-100%);
           -moz-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
             -o-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    .sidebar .menu_toggler{
        display: flex;
    }
    .all-content{
        padding: 0;
    }
    .sidebar.active{
        -webkit-transform: translateX(0%);
           -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
             -o-transform: translateX(0%);
                transform: translateX(0%);
    }
    .single-media .action-btn{
        bottom: 0;
        right: 0;
    }
}

/* -------------------------------------
        Responsive Area End
--------------------------------------- */